:root {
  --primary-color: #D3AD7F;
  --black: #13131A;
  --white: #FFF;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s linear;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bg);
  font-family: "Roboto", sans-serif;
}

section {
  padding: 3rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom: var(--border);

  & section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;

    & .navbar a {
      margin: 0 1rem;
      font-size: 1.8rem;
      color: var(--white);
    }

    & .navbar a:hover {
      color: var(--primary-color);
      border-bottom: 0.1rem solid var(--primary-color);
      padding-bottom: 0.5rem;
      font-size: 2rem;
    }

    & .icons img {
      margin: 1rem;
      cursor: pointer;
    }

    & .icons img:hover {
      width: 40px;
      height: 40px;
    }
  }
}

.btn {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 1rem 3rem;
  font-size: 1.7rem;
  cursor: pointer;
  margin-top: 1rem;
  border: none;
  display: inline-block;
}

.btn:hover {
  background-color: #8a6940;
}

.home-container {
  background-image: url(./img/home-img.jpg);
  background-size: cover;
  background-position: center;

  & section {
    display: flex;
    align-items: center;
    min-height: 100vh;

  }

  & .content {
    max-width: 500px;

    & h3 {
      color: var(--white);
      font-size: 6rem;
      text-transform: uppercase;

    }

    & p {
      color: var(--white);
      font-size: 2rem;
      font-weight: 100; 
      line-height: 1.8;
      padding: 1rem 0;
    }
  }
}